body{
  background-color: black;
  color: white;
}

.btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

input{
  width: 25rem;
  border-radius: 10px;
  border: none;
  background-color: wheat;
  color: black;
}

input:focus{
  outline: none;
}

.total{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
}



.photos{
  width: 250px;
}

.photos img{
width: 220px;
border: 2px solid blue;
border-radius: 10px;
overflow: hidden;
}

.details{
  width: 220px;
  text-align: center;
}

